body.page {
    .page-about {
        background:#fff;

        .page-banner {
            height:550px;
            background-image: url('https://res.cloudinary.com/cognitives/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,h_550,q_auto,w_1280/v1496728861/d4z3txcbw3sbetvwghvm.jpg');
            background-size:cover;
            background-repeat: no-repeat;
            margin-bottom:10px;
        
            >.banner-text {
              // background:pink; 
              padding-top: 95px;
              color:#fff;


                h1 {
                    font-size: rem(48);
                    // margin-bottom:40px;
                    line-height: 1.4;
                    width: 600px;
                }
                h2{
                    width: 400px;
                    @media screen and (max-width: $mobile-break){
                       width: 225px;
                    }
                }
                p{
                    font-size: rem(17);
                    line-height: 2;
                    font-weight:lighter;
                    margin-bottom: 20px;
                    width: 600px;
                }

            }

        }

        .statement {
            margin:40px 0 90px 0;

            h1 {
                font-size:rem(38);
                font-weight:lighter;
                margin-bottom:25px;
            }

            p{
                font-size:rem(17);
                line-height: 2;
                font-weight: 300;
                margin-bottom:20px;
            }
        }

        .partner {
            margin-bottom:35px;

            > div > img {
                border-radius:500px; 
                margin: 1em auto 0 auto;
                display: block;
            }

            h1 {
                font-size:rem(38);
                font-weight:lighter;
                margin-bottom:25px;
            }
            p {
                font-size:rem(16);
                line-height: 2;
                font-weight:lighter;

                a {
                    color: #009E91;
                }
            }
        }

    }
}

