{% set page = _Page.getPageData(slug) %}

{{ set(this, 'title', page.title | raw) }}

<!-- Begin Container -->
<div class="page_section">
    <section class="container-fluid" style="max-width:none">
        <!-- Begin Terms -->
        <div class="content-wrap">
            <!-- <h3 class="sub-heading">{{page.title | raw}}</h3> -->
            <div class="row">
                <div class="col-full">
                    <div class="content_area">
                        {# {{page.content | raw}} #}
                        <div class="page-about">
                            <section>
                                <div class="page-banner">
                                    <div class="container banner-text">
                                        <h1>MINDS</h1>
                                        <h2>A NEW TYPE OF MEDIA COLLABORATION</h2>
                                    </div>
                                </div>

                            </section>

                            <section class="container">

                                <div class="row clearfix statement">
                                    <div class="col-sm-12">
                                        <h1>The Quality Network of Leading News Agencies</h1>
                                        <p>
                                            MINDS International is a non-profit organisation, aimed to support the global 
                                            digitisation of media. Members of MINDS are leading news agencies from all over the 
                                            world. At present the MINDS network consists of more than 20 member agencies, 
                                            each of them representing their home market within MINDS. With its members, 
                                            MINDS is covering all major markets in Europe as well as the most important 
                                            markets in America, Asia and Oceania. All member agencies are equal at MINDS, 
                                            regardless their size or financial power.
                                        </p>
                                        <p>
                                            MINDS’ focus is the digital development of the media, including commercial, 
                                            editorial and technological aspects. The MINDS network shall give its members 
                                            access to valuable know-how, new markets and innovative products. MINDS supports 
                                            the exchange of existing knowledge and experiences of its members as well as joint 
                                            development of products and strategic projects. Furthermore MINDS is doing research 
                                            for its members, providing them with regular reports on future media and technology topics.
                                        </p>
                                     <p><b>The following 10 news agencies have produced this special news investigation into migrant smuggling:</b></p>

                                <div class="row partner">
                                    <div class="col-md-4">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496728743/b5ms3hdwqkt07fxabb78.png">          
                                    </div>

                                    <div class="col-md-8">
                                        <h1>AAP - Australian Associated Press</h1>
                                        <p>
                                            The principles upon which AAP was founded over 70 years ago - impartiality, 
                                            independence, accuracy, reliability and speed - remain at its heart today. AAP's mission 
                                            statement: To provide the Australian media, private and public sector with a cost-effective, 
                                            unbiased, reliable, comprehensive news and information resource.&nbsp;
                                            <a href="http://aap.com.au/" data-gentics-gcn-url="http://aap.com.au">aap.com.au</a>
                                        </p>
                                    </div>
                                </div>





                                <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496728743/cfvpty9alxmgtamgnx8z.png">
                                    </div>

                                    <div class="col-md-8">

                                        <h1>AFP -&nbsp;Agence France-Presse </h1>

                                        <p>
                                            AFP is a global news agency, delivering fast, accurate, in-depth coverage of 
                                            the events shaping our world from wars and conflicts to politics, sports, 
                                            entertainment and the latest breakthroughs in health, science and technology. 
                                            With 2,260 staff and stringers of 80 different nationalities spread across 
                                            165 countries and 200 bureaus, AFP covers the world 24 hours a day in six 
                                            languages.&nbsp;
                                            <a href="http://www.afp.com/" data-gentics-gcn-url="http://www.afp.com">www.afp.com</a>
                                        </p>

                                    </div>
                                </div>

                                <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496893138/vpjnahupakdoybgvzuaq.png">
                                    </div>

                                    <div class="col-md-8">

                                        <h1>ANSA -&nbsp; Agenzia Nazionale Stampa Associata</h1>

                                        <p>Independent, Reliable, Fast – the Values of our tradition ANSA is Italy’s leading newswire and press agency for national and international news. Created in 1945 by a coalition of Italy’s largest newspapers, ANSA actually is a cooperative comprising the 31 publishers owning the major Italian daily newspapers. 
                                            <a href="http://www.ansa.it/" data-gentics-gcn-url="http://www.ansa.it">www.ansa.it</a>
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img width="100" height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496893032/ihbyh6iyfbnieokbu5q0.png">
                                    </div>

                                    <div class="col-md-8">

                                        <h1>APA -&nbsp; Austria Presse Agentur</h1>

                                        <p>The Austria Presse Agentur reg. Gen. m. b. H (APA, Wien) is the national news agency and the leading information service provider in Austria. APA covers the sectors news agency, information management, and information technology. APA is one of the founders of MINDS International.
                                            <a href="http://www.apa.at/" data-gentics-gcn-url="http://www.apa.at">www.apa.at</a>
                                        </p>
                                    </div>
                                </div>
                               
                            

 <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496892961/gjurvynn4k5dbmzuvpzw.jpg">
                                    </div>

                                    <div class="col-md-8">

                                        <h1>CTK – Ceská Tisková Kancelá</h1>

                                        <p>The Czech News Agency (CTK) is the Czech national news and information agency providing objective and complex information for the free formation of opinions. The service is provided to other media, companies, state agencies and individuals. CTK is a public institution created by law. CTK is not subsidised by state funding, it is politically and economically independent.  
                                            <a href="http://www.ctk.cz/" data-gentics-gcn-url="www.ctk.cz">www.ctk.cz</a>
                                        </p>
                                    </div>
                                </div>



                                <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496728743/o8g3b69ikwikprvrsmqt.png">
                                    </div>

                                    <div class="col-md-8">

                                        <h1>DPA -&nbsp;Deutsche Presse-Agentur  </h1>

                                        <p>The dpa is one of the world's leading international news agencies 
                                            supplying news on a global basis and entirely from its own sources. 
                                            The dpa international services in German, English, Spanish and Arabic 
                                            are produced at dpa's main office in Hamburg, the central editorial 
                                            desks in Cork, Madrid and Cairo and the regional editorial desks in 
                                            Bangkok, Buenos Aires and Washington DC.&nbsp;
                                            <a href="http://www.dpa.com/" data-gentics-gcn-url="http://www.dpa.com">www.dpa.com</a>
                                        </p>

                                    </div>
                                </div>






                                <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496728743/lqykwyqijl2eh3s11ud2.jpg">
                                    </div>

                                    <div class="col-md-8">
                                        <h1>EFE -&nbsp;Agencia EFE  </h1>

                                        <p>The leading Spanish language news agency and one of the largest news agencies in the world, 
                                            with more than sixty years of experience guarantees its impartiality, its power, its 
                                            credibility and its immediacy. Agencia EFE is a multimedia news company with a network 
                                            of journalists worldwide, more than 3,000 professionals of 60 nationalities working 24 
                                            hours a day in over 180 cities in 110 countries, and four publishing houses in Madrid, 
                                            Bogotá, El Cairo and Rio de Janeiro.&nbsp;
                                            <a href="http://www.efe.com/" data-gentics-gcn-url="http://www.efe.com" 
                                                style="background-color: rgb(255, 255, 255);">www.efe.com</a>
                                        </p>

                                    </div>
                                </div>





                                <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496728743/dqviasbli97nx3ctcz7n.png">
                                    </div>

                                    <div class="col-md-8">

                                        <h1>LUSA - Agência de Notícias de Portugal  </h1>

                                        <p>Lusa is since 1987 the biggest news agency in Portuguese language, having 200 
                                            Journalists, 80 correspondents based abroad. Lusa offers it's service to all 
                                            Portuguese national newspapers, radio stations and television networks and 
                                            internet portals covering national politics, social, local, society, health, 
                                            justice, etc. services.&nbsp;
                                            <a href="http://www.lusa.pt/" data-gentics-gcn-url="http://www.lusa.pt">www.lusa.pt</a>
                                        </p>
                                    </div>
                                </div>





                                <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496728743/eflbm8y1j7ijoqnicxhu.png">
                                    </div>

                                    <div class="col-md-8">
                                        <h1>SDA - Schweizerische Depeschenagentur   </h1>
                                        <p>SDA is the national Swiss news agency. Around the clock it provides 
                                            information on politics, economy, society and culture in three national 
                                            languages, German, French and Italian. On average 180'000 news are
                                             edited per year. As the biggest news agency in Switzerland, it 
                                             employs 220 collaborators, of which 80% are editorial staff.&nbsp;
                                             <a href="http://www.sda.ch/" data-gentics-gcn-url="http://www.sda.ch">www.sda.ch</a>
                                         </p>
                                     </div>

                                </div>






                                <div class="row partner">
                                    <div class="col-md-4 center">
                                        <img height="100" src="https://res.cloudinary.com/cognitives/image/upload/v1496728745/ytre9qbilyv6utrumsf7.png">
                                    </div>

                                    <div class="col-md-8">

                                        <h1>STT -&nbsp;Suomen Tietotoimisto</h1>

                                        <p>The Finnish News Agency (STT) is an independent, national news provider. 
                                            STT is the only news organisation in Finland that produces a real-time 
                                            and comprehensive news agency service. STT also produces a number of 
                                            other services for media as well as communications services for leading 
                                            companies and other organisations.&nbsp;
                                            <a href="http://www.stt.fi/" data-gentics-gcn-url="http://www.stt.fi">www.stt.fi</a>
                                        </p>
                                    </div>
                                </div>


                            </section>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
</div>