{% set page = _Page.getPageData(slug) %}

{{ set(this, 'title', page.title | raw) }}

<!-- Begin Container -->
<div class="page_section">
    <section class="container-fluid" style="max-width:none">
        <!-- Begin Terms -->
        <div class="content-wrap">
            <!-- <h3 class="sub-heading">{{page.title | raw}}</h3> -->
            <div class="row">
                <div class="col-full">
                    <div class="content_area">
                        {# {{page.content | raw}} #}
                                                <div class="page-project">
                            <div class="row page-banner">

                                <div class="container">
                                    <section class="cta">
                                        <div class="col-sm-12">
                                            <h1>The Global Spotlight Project</h1>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="container">

                                <section class="row statement">
                                    <div class="col-md-4">
                                        <h2><span>MINDS GLOBAL SPOTLIGHT</span> <br>A special journalism collaboration in 2017</h2>
                                        <figure>
                                            <img class="img-responsive" src="https://res.cloudinary.com/cognitives/image/upload/v1496622152/bomijzza1hs6o7cwxwra.jpg">
                                        </figure>
                                    </div>
                                    <div class="col-md-8">
                                        <p>
                                           News agencies from 10 countries have joined in a special news investigation into migrant smuggling in the wake of the refugee crisis sweeping Europe and the continuing troubles throughout the Asia Pacific and the US.
                                        </p>
                                        <p>
                                            The social and economic impact of migrant smuggling has been well documented. This first Global Spotlight, under the auspices of news business intelligence network MINDS International, exposes criminal networks preying on vulnerable families dislodged from their homes through war, persecution and poverty.
                                        </p>
                                        <p>
                                           The comprehensive body of work some six months in development, includes in-depth analysis of migrant smuggling's root causes, travel patterns and the social impact in the world's smuggling hotspots.
                                        </p>
                                        <p>
                                           What is clear is that locking down borders does not solve the problem; it simply shifts the pain and consigns desperate men, women and children to lives in limbo. Global Spotlight: Migrant Smuggling is the first of what is envisaged as numerous journalism projects, the MINDS collective of news agencies will undertake. This is not about competition, revenue or brand building; this is about news people doing good globally.
                                        </p>
                                    </div>
                                </section>


                                <section class="row perspective">
                                    <div class="col-md-4">
                                        <figure>
                                            <img class="img-responsive" src="http://res.cloudinary.com/cognitives/image/upload/c_fill,h_258,q_auto,w_360/qcaxx0aejjfiojrrm5ua">
                                        </figure>

                                        <h2 class="category"><a href="http://www.mindsglobalspotlight.com/@globalperspective">Global Perspective</a></h2>
                                        
                                        <p class="lead">
                                            Smugglers are making an estimated $10 billion a year ferrying desperate people across international borders.
                                        </p>
                                        <p>
                                            Here we present a global overview of this transnational crime, including primary smuggling routes, migrant deaths, and the complicated struggle for solutions.
                                        </p>
                                    </div>

                                    <div class="col-md-4">
                                        <figure>
                                            <img class="img-responsive" src="http://res.cloudinary.com/cognitives/image/upload/c_fill,h_258,q_auto,w_360/pd5qz4q4khgwzxcvjvte">
                                        </figure>
                                        <h2 class="category"><a href="http://www.mindsglobalspotlight.com/@hotspots">Hotspots</a></h2>

                                        <p class="lead">
                                            The migrant smuggling business is booming along four main corridors.
                                        </p>
                                        <p>
                                            Our correspondents came face-to-face with smugglers, criminal gangs and victims to fully understand the desperation, the modus operandi and the scale of an ever-growing dark industry.
                                        </p>
                                    </div>

                                    <div class="col-md-4">
                                        <figure>
                                            <img class="img-responsive" src="http://res.cloudinary.com/cognitives/image/upload/c_fill,h_258,q_auto,w_360/kxh763mgx663l5qegmwx">
                                        </figure>
                                         <h2 class="category"><a href="http://www.mindsglobalspotlight.com/@solutions">Solutions</a></h2>

                                        <p class="lead">
                                              The world has never been doing more than it is right now to dismantle the migrant smuggling trade, and yet it continues to grow.
                                        </p>
                                        <p>
                                            Some experts warn that tighter border controls only fuel demand for smuggling services. But many countries say such responses are an inevitable and logical response.
                                        </p>
                                    </div>
                                </section>






                                <section class="row journalists">
                                    <figure>
                                        <div class="col-sm-12">
                                            <img class="img-responsive" src="http://res.cloudinary.com/cognitives/image/upload/c_fill,h_453,q_auto,w_1170/jbz5zcvspok98ryjw8q8">
                                        </div>
                                    </figure>
                                </section>

                                <section class="row journalists">

                                    <div class="col-md-4">
                                        <h2>
                                            <span>Our Journalists and videographers</span>
                                        </h2>
                                    </div>

                                    <div class="col-md-4">
                                        <p>
                                            Global Spotlight brings you inspiring journalism from some of the world's most trusted news organisations: 
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            Agence France Presse (AFP), Australian Associated Press (AAP), Deutche Presse Agentur (DPA), EFE, Austrian Presse Agentur (APA), STT, LUSA, ANSA, CTK and SDA.
                                        </p>
                                    </div>
                                </section>



                                <section class="row hotspots">
                                    
                                    <div class="col-sm-12 hotspot">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                   <img class="img-responsive" src="http://res.cloudinary.com/cognitives/image/upload/c_fill,h_258,q_auto,w_360/x3wjwfxkhltfttwnfe3g">
                                                </figure>
                                            </div>

                                            <div class="col-md-8">
                                                <h2><a href="http://www.mindsglobalspotlight.com/@americas">The Americas</a></h2>
                                                <p>
                                                    In the small central American countries of El Salvador, Guatemala and Honduras - and in Mexico - the violence waged by criminal gangs has been likened to what is seen in war zones.
                                                </p>
                                                <p>
                                                 Gangs murder, kidnap, rape and extort money at will, and some of those gangs have turned to smuggling, ferrying the desperate to and through Mexico, to the US border. <br><br><a href="http://www.mindsglobalspotlight.com/@americas">Learn more...</a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-12 hotspot">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                   <img class="img-responsive" src="http://res.cloudinary.com/cognitives/image/upload/c_fill,h_258,q_auto,w_360/fdg7ainnrsqlmdwnl3ev">
                                                </figure>
                                            </div>

                                            <div class="col-md-8">
                                                <h2><a href="http://www.mindsglobalspotlight.com/@middleeast">The Middle East</a></h2>
                                                <p>
                                                    Syria's brutal civil war has already driven about five million people from their homeland and smugglers are charging premium rates to help more people escape.
                                                </p>
                                                <p>
                                                    A clinical pricing structure applies. Young men travelling alone pay less because they can run. Families with children and the elderly are considered high-risk customers, and must pay much more.<br><br><a href="http://www.mindsglobalspotlight.com/@middleeast">Learn more...</a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-sm-12 hotspot">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <img class="img-responsive" src="http://res.cloudinary.com/cognitives/image/upload/c_fill,h_258,q_auto,w_360/t10aoe15osnquaw1fc2i">
                                                </figure>
                                            </div>

                                            <div class="col-md-8">
                                                <h2><a href="http://www.mindsglobalspotlight.com/@southeastasia">South East Asia</a></h2>
                                                <p>
                                                    Death-trap boats packed with asylum seekers are no longer arriving in Australia's territorial waters.
                                                </p>
                                                <p>
                                                    The government says that's due to its military-led mission to turn boats back at sea, deny resettlement to anyone who tries to come by boat, and process asylum seekers offshore in third countries.
                                                </p>
                                                 <p>
                                                   But Australia stands accused of flagrantly violating its human rights obligations, and of fuelling the smuggling industry it claims to be fighting. <br><br><a href="http://www.mindsglobalspotlight.com/@southeastasia">Learn more...</a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-sm-12 hotspot">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <img class="img-responsive" src="http://res.cloudinary.com/cognitives/image/upload/c_fill,h_258,q_auto,w_360/e3bvd4rdle7jtujtyjld">
                                                </figure>
                                            </div>

                                            <div class="col-md-8">
                                                <h2><a href="http://www.mindsglobalspotlight.com/@southernsahara">The Southern Sahara</a></h2>
                                                <p>
                                                    Lawless Libya is the epicentre of Europe's migrant crisis.
                                                </p>
                                                <p>
                                                    The fall of dictator Muammar Gaddafi in 2011 left a power vacuum that has been ruthlessly exploited by smugglers specialising in oil, weapons - and people.
                                                </p>
                                                 <p>
                                                    Despite Europe's efforts to deter smuggling voyages on this deadly route, up to one million migrants, mostly from West Africa, are estimated to be waiting in Libya for their chance to cross the Mediterranean.<br><br> <a href="http://www.mindsglobalspotlight.com/@southernsahara">Learn more...</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section> 


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>